.ListingsPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding-top: 8rem;
}

.ListingsPage .tabs {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.ListingsPage .tabs .tab {
  padding: 1rem 3rem;
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  border-radius: 5px 5px 0 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: #8ba6eb;
  -webkit-box-shadow: 0 -1px 5px #464646;
          box-shadow: 0 -1px 5px #464646;
  font-size: 1.25rem;
}

.ListingsPage .tabs .tab:hover {
  background: #bccafa;
}

.ListingsPage .active-listings {
  width: 70%;
  border-top: 3px solid #828282;
  padding-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4rem;
  margin-bottom: 5rem;
}

.ListingsPage .active-listings .listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}

.ListingsPage .active-listings .listing .listing-img {
  width: 50vw;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 0px 20px #686868;
          box-shadow: 0px 0px 20px #686868;
}

.ListingsPage .active-listings .listing .listing-img .listing-status-banner {
  position: absolute;
  top: 40px;
  left: -50px;
  background: #dedede;
  padding: 0.5rem;
  width: 210px;
  text-align: center;
  text-transform: uppercase;
  color: #595959;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border-top: 1px solid #8c8c8c;
  border-bottom: 4px solid #858585;
  letter-spacing: 1px;
}

.ListingsPage .active-listings .listing .listing-img img {
  margin-bottom: -5px;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.ListingsPage .active-listings .listing .listing-info {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ListingsPage .active-listings .listing .listing-info h1 {
  padding: 1rem 0;
  color: #414141;
  letter-spacing: 5px;
}

.ListingsPage .active-listings .listing .listing-info h2 {
  color: #414141;
  margin-bottom: 1rem;
}

.ListingsPage .active-listings .listing .listing-info .listing-specs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  gap: 1rem;
}

.ListingsPage .active-listings .listing .listing-info .listing-specs div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.ListingsPage .active-listings .listing .listing-info .listing-specs div:not(:last-child) {
  border-right: 2px solid grey;
  padding-right: 1rem;
}

.ListingsPage .active-listings .listing .listing-info .listing-specs div p:first-child {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.ListingsPage .active-listings .listing .listing-info .listing-specs div p:last-child {
  color: grey;
}

.ListingsPage .active-listings .listing .listing-info .price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
}

.ListingsPage .active-listings .listing .listing-info .price p {
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.ListingsPage .active-listings .listing .listing-info .price .details {
  background: #8ba6eb;
  color: #2b2b2b;
  border: 1px solid grey;
  padding: 0.5rem;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  position: relative;
}

.ListingsPage .active-listings .listing .listing-info .price .details:hover {
  background: #bccafa;
  -webkit-transform: translate(2px, -2px);
          transform: translate(2px, -2px);
}

.ListingsPage .active-listings .listing .listing-info .price .details:hover::before {
  content: "";
  height: 100%;
  width: 100%;
  background: grey;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-animation: shadow 200ms forwards;
          animation: shadow 200ms forwards;
}

@-webkit-keyframes shadow {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px);
  }
}

@keyframes shadow {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  }
  100% {
    -webkit-transform: translate(-5px, 5px);
            transform: translate(-5px, 5px);
  }
}

.ListingsPage .active-listings .listing .listing-info .price .details:hover::after {
  content: "DETAILS";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background: inherit;
  position: absolute;
  top: 0;
  right: 0;
}

@media (max-width: 1000px) {
  .ListingsPage .tabs .tab {
    padding: 1rem 1.5rem;
  }
  .ListingsPage .active-listings {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ListingsPage .active-listings .listing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .ListingsPage .active-listings .listing .listing-img {
    width: 75vw;
  }
  .ListingsPage .active-listings .listing .listing-info {
    margin: auto;
    width: 65%;
  }
}

.CommunityPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  padding-top: 5%;
}

.CommunityPage .map-container {
  width: 900px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  position: relative;
}

.CommunityPage .map-container img {
  margin-bottom: -5px;
  width: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}

.CommunityPage .map-container map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: inherit;
  z-index: 2;
  pointer-events: none;
}

.CommunityPage .map-container map #millbrae:hover:after {
  content: "Millbrae average price: $1,300,000";
  position: absolute;
  top: 3%;
  left: 5%;
  background: white;
  padding: 0.5rem;
  border-radius: 5px;
}

.CommunityPage .map-container map #burlingame:hover:after {
  content: "Burlingame average price: $1,550,000";
  position: absolute;
  top: 11%;
  left: 14%;
  background: white;
  padding: 0.5rem;
  border-radius: 5px;
}

@media (max-width: 1000px) {
  .CommunityPage .map-container {
    width: 650px;
  }
}

@media (max-width: 700px) {
  .CommunityPage .map-container {
    width: 450px;
  }
}

.MeetJD {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
}

.GetInTouch {
  padding-top: 6%;
  padding-bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-height: 100vh;
}

.GetInTouch .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
  color: #6a6a6a;
}

.GetInTouch .form-container h1 {
  font-size: 2.5rem;
}

.GetInTouch .form-container p {
  font-size: 1.1rem;
  margin: 1.5rem 0;
}

.GetInTouch .form-container .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.GetInTouch .form-container .form-group label {
  color: grey;
  margin: 1rem 0 0.2rem;
}

.GetInTouch .form-container .form-group .form-input {
  border: none;
  border-radius: 2px;
  padding: 0.5rem;
  font-size: 1.25rem;
  color: #434343;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  letter-spacing: 1px;
}

.GetInTouch .form-container .form-group textarea {
  resize: none;
  overflow: auto;
}

.GetInTouch .form-container .form-btn {
  padding: 0.7rem;
  color: white;
  background: #599a9a;
  border: none;
  margin-top: 1rem;
  cursor: pointer;
}

.GetInTouch .info {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 5%;
}

.GetInTouch .info p {
  margin: 2rem;
  font-size: 1.3rem;
  padding-bottom: 2px;
  color: #434343;
  border-bottom: 2px solid rgba(67, 39, 39, 0.482);
}

@media screen and (max-width: 750px) {
  .GetInTouch {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .GetInTouch .info {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards .card {
  min-height: 100vh;
}

#title-J {
  position: absolute;
  left: -70vw;
  opacity: 0;
  -webkit-animation: animate-J 2s ease-in -0.25s 1 forwards;
          animation: animate-J 2s ease-in -0.25s 1 forwards;
}

@-webkit-keyframes animate-J {
  90% {
    left: 0;
    -webkit-transform: rotateZ(20deg);
            transform: rotateZ(20deg);
  }
  95% {
    left: 0;
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
  100% {
    left: 0;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    opacity: 1;
  }
}

@keyframes animate-J {
  90% {
    left: 0;
    -webkit-transform: rotateZ(20deg);
            transform: rotateZ(20deg);
  }
  95% {
    left: 0;
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
  100% {
    left: 0;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    opacity: 1;
  }
}

#title-D {
  position: absolute;
  right: -70vw;
  opacity: 0;
  -webkit-animation: animate-D 2s ease-in -0.25s 1 forwards;
          animation: animate-D 2s ease-in -0.25s 1 forwards;
}

@-webkit-keyframes animate-D {
  90% {
    right: 0;
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
  95% {
    right: 0;
    -webkit-transform: rotateZ(20deg);
            transform: rotateZ(20deg);
  }
  100% {
    right: 0;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    opacity: 1;
  }
}

@keyframes animate-D {
  90% {
    right: 0;
    -webkit-transform: rotateZ(-20deg);
            transform: rotateZ(-20deg);
  }
  95% {
    right: 0;
    -webkit-transform: rotateZ(20deg);
            transform: rotateZ(20deg);
  }
  100% {
    right: 0;
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
    opacity: 1;
  }
}

.one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.one h1 {
  height: 10rem;
  width: 12rem;
  position: relative;
}

.one h1 span {
  font-size: 10rem;
}

.one h3 {
  margin-top: 10px;
  color: grey;
  letter-spacing: 3px;
  -webkit-animation: fade 0.75s ease 1.75s 1 forwards;
          animation: fade 0.75s ease 1.75s 1 forwards;
  opacity: 0%;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.one .arrow {
  position: absolute;
  bottom: 5%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  border: 1px solid grey;
  padding: 1rem;
  height: 55px;
  width: 55px;
  border-radius: 50%;
}

.two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  gap: 2rem;
}

.two img {
  height: 500px;
  min-width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: 0px 0px 15px black;
          box-shadow: 0px 0px 15px black;
}

.two .description {
  width: 45%;
  border-left: 3px solid grey;
  padding-left: 2rem;
  border-radius: 5;
}

.two .description h3 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.two .description p {
  margin-bottom: 15px;
  font-size: 1.3rem;
  font-weight: 100;
  color: #5e5e5e;
}

.two .awards {
  position: absolute;
  bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}

.two .awards .award {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
}

.two .awards .award:not(:last-child) {
  border-right: 2px solid grey;
}

.two .awards .award h3 {
  font-size: 2rem;
}

.two .awards .award p {
  padding: 0.5rem;
}

@media (max-width: 1200px) {
  .two {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .two img {
    height: 60vw;
    max-height: 450px;
    min-width: 200px;
  }
  .two .description {
    width: 80%;
    margin-bottom: 5rem;
  }
  .two .description p {
    font-size: 1.1rem;
  }
  .two .awards {
    bottom: 0;
    width: 80%;
  }
  .two .awards .award h3 {
    font-size: 1.7rem;
  }
  .two .awards .award p {
    padding: 0.3rem;
  }
}

.three {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.three .carousel {
  height: 750px;
  width: 90vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.three .carousel .carousel-item {
  width: 90vw;
  overflow: hidden;
}

.three .carousel .carousel-item img {
  height: 725px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  margin-bottom: -5px;
}

@media (max-width: 1000px) {
  .three .carousel {
    height: 600px;
    width: 95vw;
  }
  .three .carousel .carousel-item {
    width: 95vw;
  }
  .three .carousel .carousel-item img {
    height: 575px;
  }
}

@media (min-width: 2100px) {
  .three .carousel {
    height: 1100px;
    width: 95vw;
  }
  .three .carousel .carousel-item {
    width: 95vw;
  }
  .three .carousel .carousel-item img {
    height: 1075px;
  }
}

.four {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.four .image-tiles {
  height: 700px;
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
}

.four .image-tiles .tile {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: 1px solid black;
  min-width: 45%;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: grey;
}

.four .image-tiles .tile:hover {
  background: lightslategrey;
}

.four .image-tiles .tile a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

@media (max-width: 1200px) {
  .four .image-tiles {
    width: 95%;
  }
}

.cardfive {
  border-top: 3px solid grey;
  background: #aeaeae;
  min-height: 35vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cardfive .description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 40%;
  line-height: 1.5rem;
}

.cardfive .description h1 {
  margin-bottom: 1rem;
  color: white;
  border-bottom: 1px solid white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 0.5rem;
}

.cardfive .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}

.cardfive .info-container img {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
}

.cardfive .info-container .info h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.cardfive .info-container .info h5 {
  margin-bottom: 5px;
  font-size: 1rem;
}

.cardfive .info-container .info h6 {
  margin-top: 70px;
}

@media (max-width: 1200px) {
  .cardfive {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .cardfive .description {
    width: 90%;
    margin: 2rem 0;
  }
  .cardfive .info-container {
    margin-bottom: 2rem;
  }
}

nav {
  z-index: 1;
  position: fixed;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #aeaeae;
  border-bottom: 2px solid black;
}

nav h1 {
  margin-left: 10%;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-right: 10%;
}

nav ul li {
  margin: 1.5rem;
  cursor: pointer;
}

nav a {
  -webkit-text-decoration: white;
          text-decoration: white;
  color: black;
}

nav a:hover {
  color: white;
}

@media (max-width: 1200px) {
  nav h1 {
    margin-left: 5%;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin-right: 2%;
  }
  nav ul li {
    margin: 1.5rem 0.5rem;
    cursor: pointer;
  }
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*::-webkit-scrollbar,
::before::-webkit-scrollbar,
::after::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track,
::before::-webkit-scrollbar-track,
::after::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb,
::before::-webkit-scrollbar-thumb,
::after::-webkit-scrollbar-thumb {
  background-color: rgba(92, 92, 92, 0.5);
  border-radius: 20px;
  border: transparent;
}

.App {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

body {
  background: #eaeaea;
}
/*# sourceMappingURL=App.css.map */