.cards {
  display: flex;
  flex-direction: column;
  .card {
    min-height: 100vh;
  }
}

.one {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  h1 {
    span {
      font-size: 10rem;
    }
  }
  h3 {
    margin-top: 10px;
    color: grey;
    letter-spacing: 3px;
  }
  .arrow {
    position: absolute;
    bottom: 5%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    border: 1px solid grey;
    padding: 1rem;
    height: 55px;
    width: 55px;
    border-radius: 50%;
  }
}

.two {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 2rem;

  img {
    height: 500px;
    min-width: 400px;
    object-fit: cover;
    box-shadow: 0px 0px 15px black;
  }
  .description {
    width: 45%;
    border-left: 3px solid grey;
    padding-left: 2rem;
    border-radius: 5;
    h3 {
      font-size: 3rem;
      margin-bottom: 20px;
    }
    p {
      margin-bottom: 15px;
      font-size: 1.3rem;
      font-weight: 100;
      color: rgb(94, 94, 94);
    }
  }
  .awards {
    position: absolute;
    bottom: 5%;
    display: flex;
    width: 60%;
    .award {
      flex: 1;
      text-align: center;
      &:not(:last-child) {
        border-right: 2px solid grey;
      }
      h3 {
        font-size: 2rem;
      }
      p {
        padding: 0.5rem;
      }
    }
  }
  @media (max-width: 1200px) {
    flex-direction: column;
    img {
      height: 60vw;
      max-height: 450px;
      min-width: 200px;
    }
    .description {
      width: 80%;
      margin-bottom: 5rem;
      p {
        font-size: 1.1rem;
      }
    }
    .awards {
      bottom: 0;
      width: 80%;
      .award {
        h3 {
          font-size: 1.7rem;
        }
        p {
          padding: 0.3rem;
        }
      }
    }
  }
}

.three {
  display: flex;
  justify-content: center;
  align-items: center;
  .carousel {
    height: 750px;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .carousel-item {
      width: 90vw;
      overflow: hidden;
      img {
        height: 725px;
        width: 100%;
        object-fit: cover;
        object-position: center;
        margin-bottom: -5px;
      }
    }
  }
  @media (max-width: 1000px) {
    .carousel {
      height: 600px;
      width: 95vw;
      .carousel-item {
        width: 95vw;
        img {
          height: 575px;
        }
      }
    }
  }
  @media (min-width: 2100px) {
    .carousel {
      height: 1100px;
      width: 95vw;
      .carousel-item {
        width: 95vw;
        img {
          height: 1075px;
        }
      }
    }
  }
}

.four {
  display: flex;
  justify-content: center;
  align-items: center;
  .image-tiles {
    height: 700px;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    .tile {
      flex: 1;
      border: 1px solid black;
      min-width: 45%;
      font-size: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background: grey;
      &:hover {
        background: lightslategrey;
      }
      a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 100%;
        width: 100%;
        text-decoration: none;
      }
    }
  }
  @media (max-width: 1200px) {
    .image-tiles {
      width: 95%;
    }
  }
}

.cardfive {
  border-top: 3px solid grey;
  background: rgb(174, 174, 174);
  min-height: 35vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .description {
    display: flex;
    flex-direction: column;
    width: 40%;
    line-height: 1.5rem;
    h1 {
      margin-bottom: 1rem;
      color: white;
      border-bottom: 1px solid white;
      width: fit-content;
      padding-bottom: 0.5rem;
    }
  }
  .info-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    img {
      border-radius: 5px;
      box-shadow: 0px 0px 5px black;
    }
    .info {
      h4 {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
      h5 {
        margin-bottom: 5px;
        font-size: 1rem;
      }
      h6 {
        margin-top: 70px;
      }
    }
  }
  @media (max-width: 1200px) {
    flex-direction: column;
    .description {
      width: 90%;
      margin: 2rem 0;
    }
    .info-container {
      margin-bottom: 2rem;
    }
  }
}
