nav {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(174, 174, 174);
  border-bottom: 2px solid black;
  top: -60px;
  opacity: 0;
  transition: all 0.25s ease;
  h1 {
    margin-left: 10%;
    font-size: 3rem;
  }
  ul {
    display: flex;
    list-style: none;
    margin-right: 10%;
    li {
      margin: 1.5rem;
      cursor: pointer;
    }
  }
  a {
    text-decoration: white;
    color: black;
    &:hover {
      color: white;
    }
  }
  @media (max-width: 1200px) {
    h1 {
      margin-left: 5%;
    }
    ul {
      display: flex;
      list-style: none;
      margin-right: 2%;
      li {
        margin: 1.5rem 0.5rem;
        cursor: pointer;
      }
    }
  }
}
