.ListingsPage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 8rem;
  .tabs {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    .tab {
      padding: 1rem 3rem;
      border-top: 1px solid grey;
      border-left: 1px solid grey;
      border-right: 1px solid grey;
      border-radius: 5px 5px 0 0;
      transition: all 0.2s ease-in-out;
      background: rgb(139, 166, 235);
      box-shadow: 0 -1px 5px rgb(70, 70, 70);
      font-size: 1.25rem;
      &:hover {
        background: rgb(188, 202, 250);
      }
    }
  }
  .active-listings {
    width: 70%;
    border-top: 3px solid rgb(130, 130, 130);
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 5rem;
    .listing {
      display: flex;
      gap: 1rem;

      .listing-img {
        width: 50vw;
        height: min-content;
        overflow: hidden;
        position: relative;
        box-shadow: 0px 0px 20px rgb(104, 104, 104);
        .listing-status-banner {
          position: absolute;
          top: 40px;
          left: -50px;
          background: rgb(222, 222, 222);
          padding: 0.5rem;
          width: 210px;
          text-align: center;
          text-transform: uppercase;
          color: rgb(89, 89, 89);
          transform: rotate(-45deg);
          border-top: 1px solid rgb(140, 140, 140);
          border-bottom: 4px solid rgb(133, 133, 133);
          letter-spacing: 1px;
        }
        img {
          margin-bottom: -5px;
          width: inherit;
          object-fit: cover;
        }
      }
      .listing-info {
        font-family: Georgia, "Times New Roman", Times, serif;
        text-align: center;
        width: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
          padding: 1rem 0;
          color: rgb(65, 65, 65);
          letter-spacing: 5px;
        }
        h2 {
          color: rgb(65, 65, 65);
          margin-bottom: 1rem;
        }
        .listing-specs {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          padding: 1rem;
          gap: 1rem;
          div {
            flex: 1;
            &:not(:last-child) {
              border-right: 2px solid grey;
              padding-right: 1rem;
            }
            p:first-child {
              font-size: 1.5rem;
              margin-bottom: 0.5rem;
            }
            p:last-child {
              color: grey;
            }
          }
        }
        .price {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          margin-top: 1rem;
          p {
            font-size: 1.5rem;
            letter-spacing: 2px;
          }
          .details {
            background: rgb(139, 166, 235);
            color: rgb(43, 43, 43);
            border: 1px solid grey;
            padding: 0.5rem;
            transition: all 200ms ease-in-out;
            position: relative;
            &:hover {
              background: rgb(188, 202, 250);
              transform: translate(2px, -2px);
              &::before {
                content: "";
                height: 100%;
                width: 100%;
                background: grey;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
                animation: shadow 200ms forwards;
                @keyframes shadow {
                  0% {
                    transform: translate(0px, 0px);
                  }
                  100% {
                    transform: translate(-5px, 5px);
                  }
                }
              }
              &::after {
                content: "DETAILS";
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 100%;
                background: inherit;
                position: absolute;
                top: 0;
                right: 0;
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 1000px) {
    .tabs {
      .tab {
        padding: 1rem 1.5rem;
      }
    }
    .active-listings {
      width: 100%;
      justify-content: center;
      align-items: center;
      .listing {
        flex-direction: column;
        .listing-img {
          width: 75vw;
        }
        .listing-info {
          margin: auto;
          width: 65%;
        }
      }
    }
  }
}
